body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000000;
}

.field-box {
    position: relative;
    border: 2px solid #d0d0d0;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    background-size: 100%;
    background-image: image-set("../public/static/images/webp/background.webp"type("image/webp"),
            "../public/static/images/jpeg/background.jpg"type("image/jpeg"),
            "../public/static/images/png/background.png"type("image/png"));
    background-repeat: repeat;
}

.field {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.field .player {
    animation: breathing 4s linear infinite;
}

.field .enemy {
    animation: vibing 4s linear infinite;
}

.attack {
    box-shadow: 0px 0px 10px 2px #ff4e33;
}

.field .wall {
    background-image: image-set("../public/static/images/webp/wall.webp"type("image/webp"),
            "../public/static/images/jpeg/wall.jpg"type("image/jpeg"),
            "../public/static/images/png/wall.png"type("image/png"));
}

.field .enemy.linear.left {
    background-image: image-set("../public/static/images/webp/enemyLinearLeft.webp"type("image/webp"),
            "../public/static/images/jpeg/enemyLinearLeft.jpg"type("image/jpeg"),
            "../public/static/images/png/enemyLinearLeft.png"type("image/png"));
}

.field .enemy.linear.right {
    background-image: image-set("../public/static/images/webp/enemyLinearRight.webp"type("image/webp"),
            "../public/static/images/jpeg/enemyLinearRight.jpg"type("image/jpeg"),
            "../public/static/images/png/enemyLinearRight.png"type("image/png"));
}

.field .enemy.random.left {
    background-image: image-set("../public/static/images/webp/enemyRandomLeft.webp"type("image/webp"),
            "../public/static/images/jpeg/enemyRandomLeft.jpg"type("image/jpeg"),
            "../public/static/images/png/enemyRandomLeft.png"type("image/png"));
}

.field .enemy.random.right {
    background-image: image-set("../public/static/images/webp/enemyRandomRight.webp"type("image/webp"),
            "../public/static/images/jpeg/enemyRandomRight.jpg"type("image/jpeg"),
            "../public/static/images/png/enemyRandomRight.png"type("image/png"));
}

.field .enemy.hunter.left {
    background-image: image-set("../public/static/images/webp/enemyHunterLeft.webp"type("image/webp"),
            "../public/static/images/jpeg/enemyHunterLeft.jpg"type("image/jpeg"),
            "../public/static/images/png/enemyHunterLeft.png"type("image/png"));
}

.field .enemy.hunter.right {
    background-image: image-set("../public/static/images/webp/enemyHunterRight.webp"type("image/webp"),
            "../public/static/images/jpeg/enemyHunterRight.jpg"type("image/jpeg"),
            "../public/static/images/png/enemyHunterRight.png"type("image/png"));
}


.field .player.right {
    background-image: image-set("../public/static/images/webp/playerRight.webp"type("image/webp"),
            "../public/static/images/jpeg/playerRight.jpg"type("image/jpeg"),
            "../public/static/images/png/playerRight.png"type("image/png"));
}

.field .player.left {
    background-image: image-set("../public/static/images/webp/playerLeft.webp"type("image/webp"),
            "../public/static/images/jpeg/playerLeft.jpg"type("image/jpeg"),
            "../public/static/images/png/playerLeft.png"type("image/png"));
}

.field .potion {
    background-image: image-set("../public/static/images/webp/potion.webp"type("image/webp"),
            "../public/static/images/jpeg/potion.jpg"type("image/jpeg"),
            "../public/static/images/png/potion.png"type("image/png"));
    background-size: 65%;
    animation: pulse 2s linear infinite;
}

.field .sword {
    background-image: image-set("../public/static/images/webp/sword.webp"type("image/webp"),
            "../public/static/images/jpeg/sword.jpg"type("image/jpeg"),
            "../public/static/images/png/sword.png"type("image/png"));
    background-size: 90%;
    animation: pulse 4s linear infinite;
}

.health {
    height: 3px;
}

.player .health {
    background-color: #00ff00;
}

.enemy .health {
    background-color: #ff0000;
}

.healthPoint {
    display: none;
    width: 100%;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #CDCDCD;
    text-shadow:
        1px 0 0px #000000,
        0 1px 0px #000000,
        -1px 0 0px #000000,
        0 -1px 0px #000000;
    user-select: none;
    position: absolute;
    top: -12px;
}

.player:hover .healthPoint, .enemy:hover .healthPoint {
    display: block;
}

@keyframes pulse {
    0% {
        transform: scale(.95) rotate(5deg);
    }

    25% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(.95) rotate(-5deg);
    }

    75% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(.95) rotate(5deg);
    }
}

@keyframes vibing {
    0% {
        transform: scale(.95) skewY(5deg);
    }

    25% {
        transform: scale(1) skewY(0deg);
    }

    50% {
        transform: scale(.95) skewY(-5deg);
    }

    75% {
        transform: scale(1) skewY(0deg);
    }

    100% {
        transform: scale(.95) skewY(5deg);
    }
}

@keyframes breathing {
    0% {
        transform: scale(.95);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(.95);
    }
}